
<div class="container d-flex align-items-center justify-content-center h-100">
<div class="col-12 col-md-6 bg-light p-3 rounded border border-grey">
  <form action="/answer" method="get">
    <label for="question" class="form-label">Question:</label>
    <input type="text" name="question" id="question" class="form-control mb-3">
    <div class="d-flex w-100 justify-content-center">
      <input type="submit" value="Ask!" class="btn btn-primary w-25">
    </div>
  </form>
</div>
</div>
